@model PostDto

<form asp-action="Edit" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="Title"></label>
        <input asp-for="Title" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Content"></label>
        <textarea asp-for="Content" type="text" class="form-control"></textarea>
    </div>
    
    <div class="mb-3">
        <select name="categories" multiple>
@foreach (var c in ViewBag.categories)
{
                <option value="@c.Id" selected="@(Model.Categories.FirstOrDefault(e => e.Name == c.Name) != null ? "true" : "false")">
        @c.Name
    </option>
}
        </select>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>